:root {
  --clr-gray: 234, 53%, 16%;
  --clr-white: 0, 0%, 100%;
  --clr-orange: 13, 100%, 64%;
  --clr-red: 322, 87%, 55%;
  --clr-blue: 237, 100%, 64%;
  --clr-dark-gray: 232, 10%, 56%;
  --font-family: "Plus Jakarta Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

header {
  position: relative;
  overflow-x: hidden;
}
header .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
@media screen and (min-width: 760px) {
  header .heading {
    padding: 15px 30px;
  }
}
@media screen and (min-width: 1200px) {
  header .heading {
    padding: 15px 120px;
  }
}
header .kv-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 760px) {
  header .kv-section {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 30px;
    margin: 135px 0;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  header .kv-section {
    padding-left: 120px;
    margin-bottom: 215px;
  }
}
header .kv-section .kv-image .img-desktop {
  display: none;
}
@media screen and (min-width: 760px) {
  header .kv-section .kv-image .img-desktop {
    display: block;
    position: absolute;
    top: -40px;
    right: -29%;
    width: 655px;
  }
}
@media screen and (min-width: 760px) and (min-width: 1200px) {
  header .kv-section .kv-image .img-desktop {
    top: -112px;
    right: -18%;
    width: 879px;
  }
}
@media screen and (min-width: 760px) {
  header .kv-section .kv-image .img-mobile {
    display: none;
  }
}
header .kv-section .kv-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 25px;
}
header .kv-section .kv-content .kv-title {
  width: 343px;
  color: hsl(var(--clr-gray));
  font-feature-settings: "clig" off, "liga" off;
  /* Heading L */
  font-family: var(--font-family);
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
header .kv-section .kv-content .kv-description {
  width: 343px;
  color: hsl(var(--clr-dark-gray));
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 15px;
}

main .services {
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 70px;
  justify-items: center;
  background: linear-gradient(180deg, #FFF 0%, #F0F1FF 100%);
  padding: 0;
  padding-bottom: 80px;
}
@media screen and (min-width: 760px) {
  main .services {
    grid-template-columns: 1fr 1fr;
    padding: 40px 30px;
    row-gap: 70px;
  }
}
@media screen and (min-width: 1200px) {
  main .services {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 120px;
    padding-bottom: 150px;
    row-gap: 80px;
  }
}
main .services .service-card {
  width: 350px;
  padding: 20px;
  border-radius: 15px;
  background: hsl(var(--clr-white));
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
  display: flex;
  flex-direction: column;
  gap: 25px;
}
main .services .service-card .icon {
  width: 56px;
  height: 56px;
  margin-top: -40px;
}
main .services .service-card .card-title {
  color: hsl(var(--clr-gray));
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
main .services .service-card .card-description {
  width: 286px;
  color: hsl(var(--clr-dark-gray));
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
main .services .main-card {
  width: 343px;
  height: 120px;
  display: flex;
  align-items: center !important;
  flex-direction: row;
  border-radius: 15px;
  background: var(--Gradient-1, linear-gradient(180deg, hsl(var(--clr-orange)) 0%, hsl(var(--clr-red)) 100%));
  color: hsl(var(--clr-white));
  font-feature-settings: "clig" off, "liga" off;
  /* Heading M */
  font-family: var(--font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  text-align: center !important;
}
@media screen and (min-width: 768px) {
  main .services .main-card {
    width: 350px;
    height: unset;
    font-size: 32px;
  }
}

footer {
  background: hsl(var(--clr-gray));
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}
@media screen and (min-width: 768px) {
  footer {
    padding: 15px 40px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    padding: 15px 120px;
  }
}

.btn {
  width: 140px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 28px;
  outline: none;
  border: none;
  color: hsl(var(--clr-white));
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
@media screen and (min-width: 760px) {
  .btn {
    width: 167px;
    height: 56px;
    font-size: 16px;
  }
}

.btn-black {
  border-radius: 28px;
  background: hsl(var(--clr-gray));
  outline: none;
  border: none;
}
.btn-black:hover {
  background: #666CA3;
}

.btn-pink {
  border-radius: 31.5px;
  background: var(--Gradient-1, linear-gradient(180deg, hsl(var(--clr-orange)) 0%, hsl(var(--clr-red)) 100%));
}
.btn-pink:hover {
  background: var(--Gradient-1-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(180deg, hsl(var(--clr-orange)) 0%, hsl(var(--clr-red)) 100%));
}

.btn-orange {
  border-radius: 31.5px;
  border: none;
  outline: none;
  color: #F74780;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-top: auto;
}
.btn-orange:hover {
  color: #FFA7C3;
}

.btn-rose {
  background: var(--Gradient-2, linear-gradient(180deg, hsl(var(--clr-blue)) 0%, hsl(var(--clr-red)) 100%));
}
.btn-rose:hover {
  background: var(--Gradient-2-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(180deg, hsl(var(--clr-blue)) -54.32%, hsl(var(--clr-red)) 100%));
}/*# sourceMappingURL=style.css.map */